* {
    box-sizing: border-box;
}

/* FONT FACE */
@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-500;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppins-300;
    src: url('../fonts/Poppins-Light.ttf');
}

/* BASIC */

html {
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #22252c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: unset;
    font-weight: unset;
}


button {
    border: none;
    outline: none;
    font-size: unset;
}

input {
    outline: none;
}


/* LAYOUT */


.main-header {
    height: 73px;
    margin: 15px auto;
    max-width: 1257px;
}


.meme-editor {
    display: flex;
    justify-content: space-around;
}

.canvas-container,
.controls-container {
    width: 40%;
}

/* COMPONENTS */

/* header */

.main-header {
    border-radius: 37px;
    background: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    font-family: poppins-500;
    color: #ffffff;
    padding: 0 247px 0 81px;
}

.main-nav {
    display: flex;
    width: 20%;
    justify-content: space-around;
    padding: 10px 21px;
}

.logo {
    font-size: 1.375rem;
}

.hamb-btn {
    width: 40px;
    display: none;
}

.main-nav a {
    text-decoration: none;
    color: inherit;
    font-size: 1.3125rem;
    padding: 5px 21px;
}

.main-nav a:hover {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
    color: #21ac91;
}

/* generator */

.main-content {
    height: 680px;
}


.meme-editor {
    transition: height .4s;
    height: 660px;
    align-items: center;
}

.controls-container {
    width: 525px;
    height: 546px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 60px repeat(5, 1fr);
    grid-gap: 20px;
    padding: 25px 40px;
    box-shadow: 1px 5px 0 rgba(187, 196, 209, 0.11), inset 0 5px 0 rgba(255, 255, 255, 0.11);
    border-radius: 30px;
    background-color: #383B42;
}

.controls-container .txt {
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    font-family: poppins-500;
    color: #3d3d3d;
    font-size: 1.5625rem;
    border-radius: 28px;
    border: none;
    text-align: center;
    background-color: #ebeef3;
    grid-row: span 1;
    grid-column: span 9;
}

.btn {
    width: 58px;
    height: 58px;
}

.btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls-container .btn {
    padding: 0;
    background-color: transparent;
}

.line-switch {
    grid-column: 4/ span 1;
}

.line-add {
    width: 58px;
    height: 53px;
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    grid-column: 5/ span 1;
}

.line-delete {
    grid-column: 6/ span 1;
}


.text-control {
    border-radius: 15px;
    background-color: #19a59f;
    grid-column: span 9;
    grid-row: span 8;
    padding: 11px 16px 20px;
    display: flex;
    justify-content: space-around;
}

.text-control .btn {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebebeb;
    grid-column: span 1;
    padding: 14px;
}

.social-btns {
    grid-column: span 9;
    font-size: 1.3125rem;
}

.share-btn {
    color: white;
    font-family: poppins-500;
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: #1e7cd3;
    grid-column: 1 / span 2;
}

.download-btn {
    color: white;
    font-family: poppins-500;
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: #8f44bb;
    grid-column: 5 / span 2;
}


.canvas-container {
    width: 546px;
    height: 546px;
    display: flex;
    margin-inline-end: 90px;
    justify-content: center;
    border-radius: 25px;
    border: 6px solid rgba(235, 238, 243, 0.09);
    position: relative;
}

.canvas-container img {
    width: 950px;
    height: 950px;
    left: 0;
    position: absolute;
    z-index: -1;
    left: -220px;
    top: -210px;
}

canvas {
    box-shadow: 1px 5px 0 rgba(13, 14, 16, 0.35), inset 0 5px 0 rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    height: 100%;
}

/* gallery */

.gallery {
    margin: 40px auto 0;
    padding: 25px 13px 0 25px;
    width: 1243px;
    border-radius: 10px;
    background-color: #383b42;
    height: 100%;
}

.gallery-nav {
    width: 100%;
    padding: 0 0 45px 0;
}

.search-area {
    position: relative;
}

.gallery-search {
    font-family: poppins-300;
    font-size: 1.3125rem;
    height: 58px;
    padding-inline-start: 2.38em;
    width: 540px;
    border-radius: 29px;
    color: #fefefe;
    background-color: #22252c;
}

.search-btn {
    width: 29px;
    height: 30px;
    background-image: url('../imgs/search-btn.svg');
    background-color: transparent;
    position: absolute;
    right: 1.625rem;
    top: 0.875rem;
}

.word-area {
    align-items: center;
}

.word-search {
    width: 536px;
    height: 50px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: rgba(135, 137, 141);
    color: #fefefe;
    margin-inline-end: 20px;
}

.more-words {
    width: 92px;
    height: 36px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 1.125rem;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    color: #fefefe;
    font-family: Poppins;
    font-size: 18px;
}

.img-container {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    padding-inline-start: 32px;
}

.img-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 15px;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* effect-helpers */
.shrink {
    height: 0;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

.pointer:active {
    transform: scale(0.98);
}

/* MEDIUM */
@media (max-width: 1260px) {
    .gallery {
        max-width: 800px;
    }

    .gallery-nav {
        flex-direction: column;
    }

    .search-area input {
        width: 750px;
    }

    .word-area {
        width: 700px;
        align-items: center;
        justify-content: center;
        padding-top: 22px;
    }

    .word-search {
        width: 700px;
        margin-inline-end: 14px;
    }

    .img-container {
        padding: 0 15px;
    }

    .controls-container {
        width: 450px;
        height: 450px;
    }

    .controls-container .social-btns button {
        width: 180px;
    }

    .canvas-container {
        margin-inline-end: 10px;
        width: 450px;
        height: 450px;
    }
}

/* SMALL */
@media (max-width: 840px) {
    html {
        font-size: 20px;
    }

    .main-header {
        padding: 0 50px;
        position: relative;
        border-radius: unset;
        margin: 0;
        height: 100px;
        width:100vw;
    }

    .logo {
        width: 100%;
    }

    .hamb-btn {
        right: 30px;
        position: absolute;
        display: block;
        transition: transform .4s;
    }

    .main-nav {
        position: fixed;
        width: 100%;
        flex-direction: column;
        top: 100px;
        right: 0;
        height: 100vh;
        z-index: 10;
        background: linear-gradient(-86deg, rgba(51, 190, 109) 0%, rgba(12, 153, 185) 100%);
        text-align: center;
        justify-content: start;
        transition: .6s;
    }

    .main-nav li {
        transition: .6s;
        height: 100px;
    }

    .main-nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .gallery {
        width:100%;
        max-width: 480px;
        height: unset;
        padding: 25px 0;
    }

    .word-area,
    .search-area input {
        width:100%;
        max-width: 450px;
    }
    .word-search{
        width:100%;
        max-width:350px;
    }

    .meme-editor {
        flex-direction: column;
        height: unset;
        margin: 0 auto;
    }
    .img-container {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .img-container img {
        width:100%;
        max-width: 180px;
        height: 180px;
    }


    .canvas-container,
    .controls-container {
        width:100%;
        max-width: 450px;
        margin: 0;
    }

    .shrink-sm {
        height: 0 !important;
    }

    .hide-sm {
        display: none !important;
    }

    .hamb-open {
        transform: rotate(270deg);
    }
}